bin/
obj/
BenchmarkDotNet.Artifacts/
/packages/
/publish/
/publish-gui/
riderModule.iml
/_ReSharper.Caches/
/TestData/
# Battle harness run artifacts (reports + console logs)
/XISOSharp.BattleTests/BattleReports/
/XISOSharp.BattleTests/battle_*.log

